<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3" style="width: 18rem;">
            <img src="<%= review.image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= review.title %></h5>
                <p class="card-text"><%= review.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= review.location %></li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/reviews/<%= review._id %>/edit ">Edit</a>
                <form class="d-inline" action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
</div>
